audio {
    box-sizing: border-box;
    width: 32rem;
}

audio::-webkit-media-controls-panel {
    background-color: rgb(110, 10, 110);
    opacity: 40;
    border: none;
}

  audio::-webkit-media-controls-mute-button {
    background-color: rgb(148, 51, 148);
    border-radius: 50%;
  }

  audio::-webkit-media-controls-play-button {
    background-color: rgb(148, 51, 148);
    border-radius: 50%;
    margin-right: 10px;
  }

  audio::-webkit-media-controls-current-time-display {
    color: #fff;
  }

  audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
  }

  audio::-webkit-media-controls-volume-slider {
    background-color: rgb(148, 51, 148);
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
  }