@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    * { 
        padding: 0;
        left: 0;
        box-sizing: border-box;
    } 

    .sidebar-container {
        @apply bg-white bg-opacity-10 h-[96%] w-[20rem] rounded-2xl ml-6 p-4 border 
        transition-all duration-500 border-solid border-white border-opacity-10 relative
    }

    .sidebar {
        @apply flex items-center mt-2 p-4 rounded-lg cursor-pointer hover:bg-purple 
        hover:bg-opacity-20 transition-all duration-300
    }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #0f051d;
  color: #fbe4d8;
}